* {
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}

.reports {
  margin: 75px auto auto auto;
}

.no-reports {
  padding: 2em 0;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

.view-url-analysis {
  margin: 25px auto auto auto;
  text-align: center;
  width: 425px;
}
