header {
  background: #d2ffcd;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 5em;
  padding-right: 4em;
  box-shadow: 0px 5px 4px -6px rgba(0, 0, 0, 0.75);
  font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 810px) {
    flex-direction: column;
  }
}

h2 {
  cursor: pointer;
  font-weight: 600;
  font-size: 25px;
  margin: 0;
  top: 50%;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 810px) {
    flex-direction: column;
  }
}

a {
  padding: 1em 2em;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  color: black;
}
a:link { text-decoration: none; }
a:hover { color: #4caf50; }

.router-link-active, .router-link-active:hover {
  color: #4caf50;
  border-bottom: 2px solid black;
}

.username {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
